extends ../layout

block content
  ul.markdown-page-options.list-inline
    li
      a(href=sourceUrl target="_blank") View On GitHub
    li
      a(href=editeUrl target="_blank") Improve This Page

  .skill-markdown !{content}

  h2 Modules
  ul
    for moduleId in skill.modules
      - const module = digest.modules[moduleId]
      li
        a(href="/modules/"+module.id)= module.name
