extends layout

block breadcrumb


block content
  ul.timeline-container
    for user in users
      li
        .track-grid-member-avatar
          img(src=user.avatarUrl)
        .track-grid-member-name= user.name
        .track-grid-member-handle= user.handle
